// /resources/scss/main.scss

@import 'vendors/bootstrap';

html {
    scroll-behavior: smooth;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    scroll-margin-top: 99px;
}

@include media-breakpoint-up(md) {
    .nav-item.dropdown:hover .dropdown-menu{
        display:block!important
    }
}

.form-floating:not(.form-control:disabled)::before {
    z-index: -1;
}

.grecaptcha-badge {
    @include visually-hidden;
}

.rotate-1 {transform: rotate(1deg);}
.rotate-1n {transform: rotate(-1deg);}
.rotate-2 {transform: rotate(2deg);}
.rotate-2n {transform: rotate(-2deg);}