{% extends "ee::site._layout" %}

{% set globals = exp.channel.entries({channel:"global_variables",limit:1}).first() %}
{% set entry = exp.channel.entries({channel:"posts",dynamic:true,limit:1}).first() %}

{% block hero %}
    {% include 'ee::partials/_hero' %}
{% endblock %}

{% block contents %}

    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-md-12 col-lg-8">
                {% for fluid in entry.post_builder %}
                    {% if logged_in %}<!-- BLOCK TYPE:{{ fluid.field.field_name }} | INDEX:{{ loop.index }} -->{% endif %}
                    {% include 'ee::builder/_post_' ~ fluid.field.field_name %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
