<div class="container py-3">
    <div class="row">
        <div class="col-12">
        {% for content in row %}
            {% if content.heading != '' %}<h2>{{ content.heading }}</h2>{% endif %}
            {% if content.subheading != '' %}<h3>{{ content.subheading }}</h3>{% endif %}
            {{ content.text_content|raw }}
        {% endfor %}
        </div>
    </div>
</div>
