<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">   
<title>{{ global.site_name }} | {{ entry.title }}</title>
<link href="{{ mix('/assets/css/main.css') }}" rel="stylesheet">
