{%- set hero = entry.hero.first() -%}
{%- set height = hero.height.selected ? 'vh-100 ' : '' -%}
{%- set classes = hero.background_image != '' ? height : height ~ ' bg-dark bg-gradient ' %}
{%- set bg = hero.background_image != '' ? hero.background_image : '' -%}
{%- set heroTitle = hero.heading | length ? hero.heading : entry.title -%}
{%- if segment_2 == 'category' and segment_3 | length -%}
    {%- set heroTitle = 'Category: ' ~ category.cat_name -%}
{%- endif -%}
<header class="hero {{ classes }}text-white py-5" {% if bg | length %}style="background: url({{ bg }}); background-size: cover; background-position: bottom center;"{% endif %}>
    <div class="container py-5 h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h1>{{ heroTitle }}</h1>
                {%- if hero.subheading -%}
                    <p class="lead">{{ hero.subheading }}</p>
                {%- endif -%}
            </div>
        </div>
    </div>
</header>
