<div class="container py-3">
    <div class="row">
        <div class="col-12">
            {% for data in row %}

                {% if data.heading != '' %}<h2>{{ data.heading }}</h2>{% endif %}

                

                {% set carouselEntry = data.carousel_entry %}
                {{ carouselEntry }}
                {% for child in carouselEntry %}
                    <h3>{{ child.title }} Test</h3>
                    {{ child }}
                {% endfor %}

            {% endfor %}
        </div>
    </div>
</div>
