{# Layout #}
{% extends "ee::site._layout" %}

{# Macros #}
{% from 'ee::partials/_macros' import postcard %}

{# Entries #}
{% set globals = exp.channel.entries({channel:"global_variables",limit:1}).first() %}
{% set category = exp.channel.categories({category: segment_3}).first() %}
{% set posts = exp.channel.entries({channel:"posts", category_id: category.cat_id, per_page:8,orderby:"entry_date",sort:"desc"}) %}

{# Category Meta #}
{% set catMetaTitle = global.site_name ~ ' | ' ~ category.cat_name %}
{% set catMetaDescription = category.cat_description %}

{# Layout Blocks #}
{% block hero %}
    {%- if not category | length or not posts | length -%}
        {{ exp.redirect(404) }}
    {%- endif -%}
    {% include 'ee::partials/_hero' %}
{% endblock %}

{% block contents %}
    <h2 class="visually-hidden">Posts</h2>
    <div class="container py-5">
        <div class="row">
            {%- for post in posts -%}
                {{ postcard(post) }}
            {%- endfor -%}
            {%- if posts.links | length -%}
                <div class="col-12 pt-5">
                    {{ posts.links }}
                </div>
            {%- endif -%}
        </div>
    </div>
{% endblock %}
