{# Layout #}
{% extends "ee::site._layout" %}

{# Macros #}
{% from 'ee::partials/_macros' import postcard, builder %}

{# Entries #}
{% set globals = exp.channel.entries({channel:"global_variables",limit:1}).first() %}
{% set entry = exp.channel.entries({channel:"pages",dynamic:true,limit:1}).first() %}
{% set posts = exp.channel.entries({channel:"posts",per_page:8,orderby:"entry_date",sort:"desc"}) %}

{# Layout Blocks #}
{% block hero %}
    {%- if not entry | length or not posts | length -%}
        {{ exp.redirect(404) }}
    {%- endif -%}
    {% include 'ee::partials/_hero' %}
{% endblock %}

{% block contents %}
    <h2 class="visually-hidden">Posts</h2>
    <div class="container py-5">
        <div class="row">
            {%- for post in posts -%}
                {{ postcard(post) }}
            {%- endfor -%}
            {%- if posts.links | length -%}
                <div class="col-12 pt-5">
                    {{ posts.links }}
                </div>
            {%- endif -%}
        </div>
    </div>
    {%- for fluid in entry.page_builder -%}
        {{ builder('page',fluid) }}
    {%- endfor -%}
{% endblock %}
